{% load i18n %}{% autoescape off %}
{% trans "Hola," %}

{% trans "Recibiste este correo porque solicitaste restablecer tu contraseña en MediCampus." %}

{% trans "Haz clic en el siguiente enlace para elegir una nueva contraseña:" %}
{% block reset_link %}
http://localhost:5173/seguridad/reset-password/{{ uid }}/{{ token }}
{% endblock %}

{% trans "Tu nombre de usuario es:" %} {{ user.get_username() }}

{% trans "Gracias por usar MediCampus." %}

{% blocktrans %}El equipo de MediCampus{% endblocktrans %}
{% endautoescape %}
